.container {
  /* position: absolute; */
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  /* text-align: center; */
  /* background-color: grey; */
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
