.container {
  text-align: center;
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  height: 100%
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.tab {
  display: flex;
  position: relative;
  border-top:1px solid #444;
  background: #EF233C;
  flex: 1 1 auto;
  align-items: center;
}

.tab span {
  font-size:.9em;
  flex: 1 1 auto;
}
