.overlay {
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: #Ff3e96;
}

.container {
  width: 10em;
  display: inline-block;
  margin-right: .5em;
}

.segmentcontainer {
  position: absolute;
  width: inherit;
  display: inline-block;
  margin-top: .3em;
}

.segment {
  /* border-left: 1px solid #8D99AE; */
  border-right: 1px solid #232C39;
  width: 25%;
  height: .65em;
  float: left;
}

.segment:first-child{
    border-left: none;
}
.segment:last-child{
    border-right: none;
}
