.parent {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.container {
  /* position: absolute; */
  margin: 0px auto;
  width: 800px;
  height: 480px;
  flex: 0 1 480px;
  background-color: black;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
